// @font-face {
//     font-family: 'Ginza Narrow';
//     src: url('../fonts/GinzaNarrow/GinzaNarrow-Light.woff2') format('woff2'),
//         url('../fonts/GinzaNarrow/GinzaNarrow-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

@font-face {
    font-family: 'Ginza Narrow';
    src: url('../fonts/GinzaNarrow/GinzaNarrow-Medium.woff2') format('woff2'),
        url('../fonts/GinzaNarrow/GinzaNarrow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


// @font-face {
//     font-family: 'Ginza Narrow';
//     src: url('../fonts/GinzaNarrow/GinzaNarrow-Heavy.woff2') format('woff2'),
//         url('../fonts/GinzaNarrow/GinzaNarrow-Heavy.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Schist';
//     src: url('../fonts/Schist/SchistLight.woff2') format('woff2'),
//         url('../fonts/Schist/SchistLight.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

@font-face {
    font-family: 'Schist';
    src: url('../fonts/Schist/SchistRegular.woff2') format('woff2'),
        url('../fonts/Schist/SchistRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Schist';
    src: url('../fonts/Schist/SchistBold.woff2') format('woff2'),
        url('../fonts/Schist/SchistBold.woff') format('woff');
    font-weight: 600;    
    font-style: normal;
}    

// @font-face {
//     font-family: 'Schist';    
//     src: url('../fonts/Schist/SchistBlack.woff2') format('woff2'),
//         url('../fonts/Schist/SchistBlack.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
// }