.reveal{
    outline: none;
    background: url(../img/bg_popup.png);
    background-position: top center;
    padding-top: 90px;
    @include breakpoint(small only){
        top: 0 !important;
    }
}

.close-button{
    width: 45px;
    height: 41px;
    background: url(../img/close.png);
}