section.chooser
    .chooser_city
        label.chooser_city_label
            | Выбери город
        .chooser_select
            select
                option Новосибирск
                option Екатеринбург
                option Краснодар
                option Санкт-Петербург
                option Москва
    .chooser_game
        img(src="./img/zombie_strike.png", alt="Zombie Strike")
    .chooser_descr
        .chooser_descr_date
            | 28.06.2018
        | Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание дальнейших направлений
    .chooser_bottom
        button.button.secondary
            | Записаться на игру 
        button.button.primary
            | Пригласить друга