footer.footer
    .footer_brands
        a(href="https://vk.com/nerf" targer="_blank")
            img(src="./img/brands/nerfornothing.png", alt="")
        a(href="https://www.hasbro.com/ru-ru/" targer="_blank")
            img(src="./img/brands/hasbro.png", alt="")
        a(href="https://nerfrussia.ru" targer="_blank")
            img(src="./img/brands/nerf.png", alt="")
    .footer_content
        p © 2018 Hasbro. All Rights Reserved
        p
            | *Единственные игрушки Хасбро  для активной игры дома и на улице
        p
            | Правила  Количество призовых Бластеров НЁРФ ограничено. Hasbro оставляет за собой право менять условия вручения призов, а также удалять профили пользователей, замеченных в накрутке звезд. Играй честно, нёрфер!